.container,
.advantages__item,
.advantages__image {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.awesome__title:after {
  display: block;
  margin: auto;
  width: 64px;
  height: 1px;
  background: #d98943;
  content: "";
}

.awesome__text {
  color: #86878b;
}

.advantages {
  display: flex;
  justify-content: center;
  align-items: center;
}

.advantages__image {
  width: 70px;
  height: 70px;
  border: 1px solid #d98943;
  border-radius: 50%;
}
