.advantages__item,
.advantages__image {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.awesome {
  padding: 100px 0;
}

.awesome__title:after {
  display: block;
  margin: 25px auto 0;
  width: 64px;
  height: 1px;
  background: #d98943;
  content: "";
}

.awesome__text {
  margin-top: 30px;
  color: #86878b;
}

.advantages {
  display: flex;
  justify-content: space-between;
  margin: 67px -15px 0;
}

.advantages__item {
  max-width: 350px;
  margin: 0 15px;
}

.advantages__image {
  width: 70px;
  height: 70px;
  border: 1px solid #d98943;
  border-radius: 50%;
}
.advantages__title {
  margin-top: 30px;
}

.advantages__text {
  margin-top: 16px;
  text-align: center;
}

/* adaptive */
@media (max-width: 768px) {
  .advantages {
    flex-direction: column;
  }
  .advantages__item {
    margin-left: 0;
    margin-right: 0;
  }
  .advantages__item:not(:first-child) {
    margin: 35px 0 0;
  }
}
/* /adaptive */
