.awesome {
  padding: 100px 0;
}

.awesome__title:after {
  display: block;
  margin: 25px auto 0;
  width: 64px;
  height: 1px;
  background: #d98943;
  content: "";
}

.awesome__text {
  margin-top: 30px;
  color: #86878b;
  text-align: center;
}

.advantages {
  margin: 67px -15px 0;
}

.advantages__item,
.advantages__image {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.advantages__item {
  max-width: 350px;
  margin: 0 15px;
}

.advantages__image {
  width: 70px;
  height: 70px;
  border: 1px solid #d98943;
  border-radius: 50%;
  cursor: pointer;
  transition-property: box-shadow, transform;
  transition-duration: 0.2s, 0.4s;
  transition-delay: 0s, 0.7s;
}

.advantages__image:hover,
.advantages__image:focus {
  box-shadow: 0px 0px 18px #d98943;
  transform: rotate(90deg);
}

.advantages__image img {
  transition: 0.3s;
}

.advantages__title {
  margin-top: 30px;
  text-align: center;
}

.advantages__text {
  margin-top: 16px;
  text-align: center;
}

/* adaptive */
@media (max-width: 777px) {
  .awesome {
    padding: 50px 50px;
  }

  .advantages {
    flex-direction: column;
  }
  .advantages,
  .advantages__item {
    margin-left: 0;
    margin-right: 0;
  }
  .advantages__item:not(:first-child) {
    margin: 35px 0 0;
  }
}
/* /adaptive */
