.axure {
  padding: 57px 0 38px;
  color: #ffffff;
  background: url("../img/background1.png") no-repeat center;
  background-size: cover;
  position: relative;
}

.axure::after {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.55);
}

.axure__title:after {
  display: block;
  margin: 25px auto 0;
  width: 64px;
  height: 1px;
  background: rgba(255, 255, 255, 0.8);
  content: "";
}

.axure__text {
  font-family: "Raleway", sans-serif;
  font-size: 16px;
  font-weight: 300;
  line-height: 23px;
  text-align: center;
  opacity: 0.8;
  margin-top: 34px;
}

.axure .primary-btn {
  margin: 57px auto 0;
}

.axure__btn:hover,
.axure__btn:focus {
  background-color: #86878b;
  border-color: #86878b;
  border-radius: 2px;
  transform: scale(1.1);
}
/* adaptive */
@media (max-width: 777px) {
  .axure {
    padding: 30px 0;
  }
}
/* /adaptive */
