.header {
  overflow: hidden;
}

/* logo & navigation */
.navigation {
  padding: 20px 0;
  background-color: #000000;
  position: relative;
}

.logoNav-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__logo a {
  font-family: "Raleway", sans-serif;
  font-size: 30px;
  font-weight: 400;
  line-height: 42px;
  color: #ffffff;
  text-align: left;
  text-transform: uppercase;
  margin-left: 10px;
}
.header__logo {
  transition: 0.3s;
}

.header__logo:hover,
.header__logo:focus {
  transform: scale(1.4);
}

.header__nav {
  max-width: 490px;
  flex-grow: 1;
}

.nav-list {
  display: flex;
  justify-content: space-between;
  width: 100%;
  text-transform: capitalize;
}

.header__nav a {
  font-family: "Open Sans", sans-serif;
  font-size: 15px;
  font-weight: 600;
  line-height: 20px;
  color: rgba(255, 255, 255, 0.7);
  outline: none;
  transition: 0.3s;
}
.header__nav a:hover,
.header__nav a:focus {
  color: var(--clr-primary);
  border-bottom: 1px solid var(--clr-primary);
}

.nav-list :not(:first-child) {
  margin-left: 15px;
}
/* /logo & navigation */

/* hero */
.hero {
  background: url("../img/background-hero.png") no-repeat center;
  background-size: cover;
  position: relative;
  padding: 50px 0 100px;
}

.hero::after {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.55);
}

.hero__content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  max-width: 600px;
}

.hero__title {
  color: #ffffff;
  font-family: "Raleway", sans-serif;
  font-size: 60px;
  font-weight: 400;
  line-height: 70px;
  text-transform: uppercase;
}

.hero__subtitle {
  color: #ffffff;
  text-align: left;
}

.hero__subtitle:after {
  display: block;
  margin-top: 32px;
  width: 64px;
  height: 1px;
  background: rgba(255, 255, 255, 0.45);
  content: "";
}

.hero__description {
  font-family: "Raleway", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 19px;
  color: rgba(255, 255, 255, 0.45);
  margin-top: 32px;
}

.hero__content .primary-btn {
  margin-top: 50px;
}

.hero__form {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  max-width: 370px;
  margin-left: 20px;
}

.authForm-inputs-wrapper {
  display: flex;
  flex-direction: column;
  padding: 44px 60px 60px;
  background-color: #ffffff;
  position: relative;
}

.form-title {
  background-color: #ffffff;
  border-top-right-radius: 8px;
  border-top-left-radius: 8px;
  padding-top: 13px;
}

.authForm-inputs-wrapper .input-label:not(:first-child) {
  margin-top: 20px;
}

.getStarted-btn {
  font-family: "Open Sans", sans-serif;
  font-size: 15px;
  font-weight: 600;
  line-height: 20px;
  color: var(--clr-primary);
  padding: 15px 0;
  outline: none;
  border: none;
  background-color: transparent;
  border-left: 1px solid rgba(255, 255, 255, 0.7);
  border-right: 1px solid rgba(255, 255, 255, 0.7);
  border-bottom: 1px solid rgba(255, 255, 255, 0.7);
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  transition: 0.2s;
}

.getStarted-btn:hover,
.getStarted-btn:focus {
  background-color: var(--clr-primary);
  cursor: pointer;
  border-color: var(--clr-primary);
  color: #ffffff;
}

/* hidden password */
.password-control {
  position: absolute;
  bottom: 25%;
  right: 16%;
  display: inline-block;
  width: 20px;
  height: 20px;
  background: url("../img/eye-slash-regular.svg") 0 0 no-repeat;
}

.password-control.view {
  background: url("../img/eye-regular.svg") 0 0 no-repeat;
}
/* /hidden password */

/* /hero */

/* socials */
.socials {
  background-color: #f8efef;
  padding: 16px 0;
}

.socials__content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  max-width: 360px;
}

.socials__text {
  color: #86878b;
  margin-top: 14px;
  text-align: left;
}

.socials__headerNav {
  max-width: 680px;
  flex-grow: 1;
}

.socials__headerList {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.socials__headerNav i {
  font-size: 40px;
  color: #86878b;
  opacity: 0.4;
  transition: 0.3s;
  padding: 8px;
}

.socials__headerNav i:hover,
.socials__headerNav i:focus {
  transform: scale(1.2);
  color: var(--clr-primary);
  opacity: 1;
}
/* /socials */

.header__burgerBtn {
  display: none;
}

/* adaptive */
@media (max-width: 992px) {
  .hero .container,
  .socials .container {
    flex-direction: column;
  }

  .hero__form {
    width: 80%;
  }

  .hero {
    padding: 0 0 50px;
  }

  .hero__content,
  .socials__content {
    align-items: center;
  }

  .hero__subtitle:after {
    margin: 32px auto 0;
  }

  .hero__subtitle,
  .socials__text {
    text-align: center;
  }

  .hero__form {
    margin: 40px 0 0;
  }

  .socials__headerNav {
    margin-top: 20px;
    width: 100%;
  }
}

@media (max-width: 767px) {
  .hero .container,
  .socials .container {
    flex-direction: column;
  }

  .navigation .container {
    z-index: 4;
  }

  .navigation::after {
    content: "";
    position: absolute;
    right: -100%;
    top: 81px;
    width: 100%;
    height: 290%;
    background-color: #000000;
    z-index: 3;
    transition: 0.3s;
  }

  .header__nav {
    position: absolute;
    right: -100%;
    top: 150%;
    width: 100%;
    transition: 0.3s;
  }

  .nav-list {
    flex-direction: column;
    align-items: flex-end;
  }

  .nav-list li:not(:first-child) {
    margin-top: 25px;
  }

  .nav-list a {
    font-size: 18px;
  }

  .header__burgerBtn {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 30px;
    height: 30px;
    background-color: transparent;
    border: 2px solid rgba(255, 255, 255, 0.7);
    border-radius: 4px;
    cursor: pointer;
  }

  .header__burgerBtn span {
    display: block;
    width: 20px;
    height: 2px;
    background-color: rgba(255, 255, 255, 0.7);
    transition: 0.3s;
  }

  .header__burgerBtn:before,
  .header__burgerBtn:after {
    content: "";
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 20px;
    height: 2px;
    background-color: rgba(255, 255, 255, 0.7);
    transition: 0.3s;
  }

  .header__burgerBtn:before {
    top: 6px;
  }

  .header__burgerBtn:after {
    bottom: 4px;
  }

  .navigation.active::after {
    right: 0;
  }

  .header__burgerBtn.active {
    border-color: var(--clr-primary);
  }

  .header__burgerBtn.active span {
    transform: scale(0);
  }

  .header__burgerBtn.active:before {
    transform: rotate(45deg);
    left: 3px;
    top: 12px;
    background-color: var(--clr-primary);
  }

  .header__burgerBtn.active:after {
    transform: rotate(-45deg);
    left: 3px;
    bottom: 12px;
    background-color: var(--clr-primary);
  }

  .header__nav.active {
    right: 15px;
  }
}

@media (max-width: 450px) {
  .header__nav,
  .hero__form {
    width: 100%;
  }
  .socials__headerNav i {
    font-size: 30px;
  }
}

@media (max-width: 400px) {
  .authForm-inputs-wrapper {
    padding: 44px 30px 60px;
  }
  .password-control {
    right: 9%;
  }

  @media (max-width: 350px) {
    .socials__headerNav i {
      font-size: 24px;
    }
  }
}
/* /adaptive */
