.pricing {
  background-color: #f5f5f5;
  padding: 80px 0 90px;
}

.pricing__title:after {
  display: block;
  margin: 25px auto 0;
  width: 64px;
  height: 1px;
  background: #e72424;
  content: "";
}

.pricing__text {
  margin-top: 30px;
  color: #86878b;
  text-align: center;
}

.plans {
  margin: 12px -15px 0;
}

.plans__item {
  flex-grow: 1;
  max-width: 350px;
  margin: 40px 15px 0;
  transition: 0.2s;
}

.plans__item:hover {
  transform: translateY(-15px);
}

.plans__title,
.plans__price,
.plans__advantage {
  color: #ffffff;
  background-color: #333333;
}
.plans__title {
  padding: 15px 0 8px;
}

.plans__price {
  padding: 26px 0 33px;
  margin-top: 2px;
}

.plans__advantage {
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  font-weight: 600;
  line-height: 19px;
  color: rgba(255, 255, 255, 0.5);
  text-align: center;
  padding: 14px 0 17px;
  margin-top: 2px;
  transition: 0.2s;
}
.plans__advantage:hover,
.plans__advantage:focus {
  background-color: #d98943;
  font-weight: 800;
  cursor: pointer;
}

.plans__text {
  color: #86878b;
  background-color: #ffffff;
  padding: 10px 0;
  margin-top: 4px;
  text-align: center;
}

/* adaptive */
@media (max-width: 777px) {
  .pricing {
    padding: 50px 0;
  }

  .plans {
    flex-direction: column;
    margin-left: 0;
    margin-right: 0;
  }

  .plans__item {
    width: 100%;
    margin-left: 0;
    margin-right: 0;
  }
}
/* /adaptive */
